name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

defaults:
  run:
    working-directory: ext

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1']

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: ${{ matrix.php }}
      - name: Show C extension
        run: |
          php -m
          which php
          ldd /usr/bin/php
        shell: bash
      - name: Install libcurl
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev curl
        shell: bash
      - name: Build
        run: |
          phpize
          ./configure
          make
      - name: Test
        env:
          TEST_PHP_ARGS: "-q" #do not try to submit failures
        run: make test TESTS=--show-diff
